*{
    box-sizing: border-box;
}


body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
}
.container{

   width: 1150px;
   margin: auto;
}
.topbar{
    background-color: #2EA6D5;
}
.topbar-column{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.top-logo{
    display: flex;
    align-items: center;
}
.top-logo img{
    width: 100px;
}



.top-menu{
    
    text-align: right;

}
.top-menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}
.top-menu ul li{
    display: inline-block;
}
.top-menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
 
    padding: 16px 15px 16px 15px;
}
.top-menu ul li a:hover{
    color: white;
   
}

/* submenu */
.top-menu ul ul{
    display: none;
    position: absolute;
    background-color: #e3edf3;
}

.top-menu li:hover ul{
    display: block;
    width: 170px;
}
.top-menu li:hover ul li{
    display: block;
    text-align: left;
    font-size: 12px;
}
.top-menu li:hover ul li a{
   color: black;
}
.top-menu li:hover ul li a:hover{
    background-color: #2EA6D5;
    color: white;
 }
 




.btn{
    display: inline-block;
    background-color: #cccccc;
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
}
.btn.btn-sm{
    font-size: 12xp;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
.btn.btn-sm.btn-primary{
    background-color: white;
    color: black;
}
i.icon-sm{
    font-size: 15px;
}

